body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: center;
}

.kotak {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  width: 96px;
  height: 100px;
  font-weight: 500;
  font-size: 50px;
}